<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/nav %>
    <title>D3 Exam</title>
  </head>

<link rel="stylesheet" href="/stylesheets/post_index_css.css">


  <body>

    <div class="posts">
      <div class="col-md-offset-3 col-md-6 col-md-offset-3">


<!-- main start-->




<h2 id="section-2" class="text-center">관리자 게시판</h2>
<hr>


<table class="table" class="text-center">
  <thead>
  <tr>
    <th width="60%">Title</th>
    <th width="20%">Author</th>
    <th width="20%">Date</th>

  </tr>
  </thead>
    <tbody>
       <% for(var i=0; i< posts.length ; i++){ %>
       <tr>

      <td>

        <a href="/posts/<%= posts[i]._id %>">
          <%= posts[i].title %> &nbsp;(<%= posts[i].comments.length %>)
          </a>

      </td>

      <td><%= posts[i].author.nickname %></td>

      <td><%= posts[i].createdAt.toLocaleDateString() %></td>

    </tr>
    <% } %>


  </tbody>
</table>

  <a href="/posts/new"><button class="btn">New</button></a>



<!-- main end -->
  </div>
    </div><!--posts end -->
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
